*.jpg
*.xml
*.txt
*.png
*.PNG
*.JPG
*.TXT
*.XML
*.mp4
*.MP4
*.csv
*.CSV
runs/
*.pt
*.cache
mykey.py


!data/__init__.py
!notebooks/__init__.py
!output/__init__.py
.env
__pycache__/*
**/__pycache__/*
**/models/*
